{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center vh-100 px-5">
        <div class="card shadow-lg p-5 fadeInUp">
            <div class="bg-white" >
                <h1 class="card-title text-center shadow-sm rounded-3 fst-italic text-bg-secondary text-primary mb-4">Lien envoyé</h1>
            </div>
            <ul class="px-4">
                <li>If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.</li>
                <li>This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</li>
                <li>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.</li>
            </ul>
            <div class="text-center pt-4">
                <a href="{{ path('app_main') }}" ><button class="btn btn-outline-dark">Retour à l'accueil</button></a>
            </div>
        </div>
    </div>
{% endblock %}
